.btnLink{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

.mainBox{
    font-size: clamp(28px, 7vmin, 42px);
    font-weight: bold;
    justify-content: flex-start;
}
.mainBox:hover{
    text-decoration: none;
    background-color: white;
}

button {
    transition: 0.25s !important;
    outline: none;
    cursor: pointer;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }